.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 375px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}